.form-control:disabled{
  background: white !important;
}
#dtMaterialDesignExample td, #dtMaterialDesignExample th{
  text-align: center;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus{
  background-color: #82005E;
}

$primary: #82005E;
$info: #007bff;
$component-focus-bg: #82005E;
@import "../bootstrap/scss/bootstrap";

#navigation{
  height: 60px !important;
}
#msg, #orderMsg{
  display: none;
}
.card img{
  cursor: pointer;
}
#removeFromCart{
  position: absolute;
  right: 4px;
  top: 4px;
}
#customNavBar{
  flex-direction: row;
}
#customNavBar>li:first-of-type{
  margin-right: 20px;
  margin-left: 20px;
}
#customDropDown{
  position: absolute !important;
}
#cart{
  position: absolute;
  right: 10px;
  top: 8px;
}
@media(max-width: 600px){
  #removeFromCart{
    position: absolute;
    right: 20px;
    bottom: 80px;
    top: inherit;
  }
  #switchInfo{
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    margin: 0 !important;
    top: 50px;
    height: auto !important;
  }
}
