{% extends "genericLayout.twig" %}
{% block content %}
    <form action="index.php?controller=Product&action=insert" class="col-md-6 offset-md-3" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input id="name" name="name" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="descr">Descripcion</label>
            <textarea id="descr" name="descr" class="form-control" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="category">Categoria</label>
            <select class="selectpicker  show-menu-arrow form-control" name="categoryPicker" id="categoryPicker">
                <option value="0">Todas las categorias</option>
                {% for element in categories %}
                    <option value="{{ element.id }}">{{ element.name }}</option>
                {% endfor %}
            </select>
            <input id="category" name="category" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="prize">Precio</label>
            <input id="prize" name="prize" class="form-control" type="text">
        </div>
       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Imagen</span>
            </div>
            <div class="custom-file">
                <input type="file" name="img" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success"><i class="fas fa-plus"></i> Añadir</button>
    </form>
{% endblock %}