{% extends "genericLayout.twig" %}
{% block content %}
    {% for key,element in orders %}
        <input type="hidden" class="products" name="{{ element.name }}" value="{{ element.pQuantity }}" id="product{{ key }}">
    {% endfor %}
    <h1>{{ title }}</h1>
    <div id="chart_wrap"><div id="chart_div"></div></div>
{% endblock %}