{% extends "genericLayout.twig" %}
{% block content %}
    <div class="alert alert-success align-self-center text-center">
        Pedido confirmado correctamente<br>
        Podra pasar a recogerlo: <br>
        {{ fechaRecogida }}
    </div>
{% endblock %}